<!--FONDO DE LA PÁGINA Y VIDEO CON SLOGAN DE LA PÁGINA"-->
<div class="FondoLogo">
  <div class="relative flex items-center justify-center h-screen mb-12 overflow-hidden">
    <div class="relative z-30 p-5 text-4xl text-white bg-slate-600 bg-opacity-75 rounded-xl Attack">"Conocerte es lo mejor que me pudo pasar"</div>
        <img alt="Party" src="https://www.xtrafondos.com/descargar.php?id=4625&resolucion=3840x2400" class="absolute inset-0 h-full w-full object-cover"/>
  </div>

<!--ARTÍCULO 1 DE LA PÁGINA INICIO"-->
  <div>
    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8">
      <div class="max-w-3xl">
        <h2 class="text-3xl font-semibold sm:text-4xl text-white Attack">Con nuestra suscripción Premium tendrás más chance, como esta pareja</h2>
      </div>

      <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
        <div class="relative h-64 overflow-hidden sm:h-80 lg:h-full">
          <img alt="Party" src="https://png.pngtree.com/thumb_back/fw800/background/20210912/pngtree-close-up-real-shot-of-passionate-couple-sitting-on-the-ground-image_870269.jpg" class="absolute inset-0 h-full w-full object-cover"/>
        </div>

        <div class="lg:py-16">
          <div class="space-y-4 text-white hover:text-black transition-colors duration-500 font-extrabold Attack">
            <p>
              Aquí tenemos a uno de los primeros usuarios que triunfó gracias a Aniku:
            </p>

            <p>
              ""Alex y Maya se conocieron en Aniku, una plataforma de citas para geeks.
              Compartieron intereses en cómics, ciencia ficción y juegos de rol.
              Después de chatear, se encontraron en un café temático y conectaron al instante. Su relación
              creció mientras exploraban convenciones y disfrutaban de su pasión geek juntos.""
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--ARTÍCULO 2 DE LA PÁGINA INICIO"-->
<div>
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8">
    <div class="max-w-3xl">
      <h2 class="text-3xl font-semibold sm:text-4xl text-white Attack align-middle text-right">Y otras que esperando a su tiempo que también le llegan</h2>
    </div>

    <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
      <div class="lg:py-16">
        <div class="space-y-4 text-white hover:text-black transition-colors duration-500 font-extrabold">
          <p>
            Y por aquí tenemos las propias palabras de esta otra pareja que nos ha dejado a continuación:
          </p>

          <p>
            "Hiro y Aya se conocieron en Aniku, una plataforma de citas para otakus. Ambos compartían una pasión por el anime, los videojuegos
            y el cosplay. Después de chatear y descubrir su afinidad, se encontraron en un café temático donde conectaron de inmediato.
            Su relación floreció, exploraron juntos la cultura otaku y vivieron momentos inolvidables en convenciones y maratones de anime.
            Gracias a Aniku, encontraron el amor en su mundo geek."
          </p>
        </div>
      </div>

      <div class="relative h-64 overflow-hidden sm:h-80 lg:h-full">
        <img alt="Party" src="https://estaticos-cdn.sport.es/clip/be9fc6aa-999f-4348-be40-26de65ca7bac_alta-libre-aspect-ratio_default_0.jpg" class="absolute inset-0 h-full w-full object-cover"/>
      </div>
    </div>
  </div>
</div>

<!--ARTÍCULO 1 DE LA PÁGINA INICIO"-->
<div>
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8">
    <div class="max-w-3xl">
      <h2 class="text-3xl font-semibold sm:text-4xl text-white Attack">Y este caso es único, ahora veréis</h2>
    </div>

    <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
      <div class="relative h-64 overflow-hidden sm:h-80 lg:h-full">
        <img alt="Party" src="https://cdn.discordapp.com/attachments/976147218295840879/1082276574247796766/carloooomaricon.png" class="absolute inset-0 h-full w-full object-cover"/>
      </div>

      <div class="lg:py-16">
        <div class="space-y-4 text-white hover:text-black transition-colors duration-500 font-extrabold Attack">
          <p>
            Aquí tenemos a uno de nuestros usuarios que al paracer ha triunfado bastante:
          </p>

          <p>
            "Desde que me fui del ADA estoy más tranquilo, empecé a trabajar en YBarra y en unos pocos meses ascendí
            un par de puesto destinandome a Galicia. Por lo visto de camino a Galicia me enteré de esta aplicación y probé,
            no fueron ni 2 horas y conocí a muchas chavalitas. Con el tiempo me di cuenta de que no podía elegir, así que decidí quedarme con
            todas."
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--ARTÍCULO INFORMATIVO SOBRE LAS VENTAS Y NUEVOS USUARIOS"-->
  <div class="bg-stone-100">
    <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 md:py-16 lg:px-8">
      <div class="mx-auto max-w-3xl text-center">
        <h2 class="text-3xl font-bold text-gray-900 sm:text-4xl">Miles de millones de usuarios tienen Aniku</h2>
        <p class="mt-4 text-gray-500 sm:text-xl">Únete tú también, <a [routerLink]="['/login-page']" class="text-gray-500 hover:text-red-900 transition-colors duration-500">registrarse</a> es gratis</p>
      </div>

      <div class="mt-8 sm:mt-12">
        <dl class="grid grid-cols-1 gap-4 sm:grid-cols-3">
          <div
            class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center">
            <dt class="order-last text-lg font-medium text-gray-500">Suscripciones Totales</dt>
            <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl hover:text-red-600 transition-colors duration-500">113M €</dd>
          </div>

          <div
            class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center">
            <dt class="order-last text-lg font-medium text-gray-500">Usuarios Registrados</dt>
            <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl hover:text-red-600 transition-colors duration-500">+ 300M</dd>
          </div>

          <div
            class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center">
            <dt class="order-last text-lg font-medium text-gray-500">2K Visitas</dt>
            <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl hover:text-red-600 transition-colors duration-500">Visitas diarias</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>
