<div class="text-center p-2 fixed w-full top-0 z-50 bg-gradient-to-r from-blue-900 via-blue-600 to-blue-500 shadow-xl shadow-blue-200">
  <ul class="menu hidden md:flex items-center justify-center relative space-x-28">
    <li class="ml-4">
      <a [routerLink]="['/inicio-page']" class="text-red-600 text-3xl font-bold Attack">❤ANIKU❤</a>
    </li>
    <li class="ml-4">
      <img [routerLink]="['/profile-page']" src="https://static.vecteezy.com/system/resources/thumbnails/008/470/226/small_2x/heart-anime-cute-character-cartoon-model-emotion-illustration-clipart-drawing-kawaii-manga-design-idea-art-free-png.png" class="w-14 h-w-14 rounded-full shadow-lg transform transition duration-500 hover:scale-90" alt="Avatar" />
    </li>
    <li class="ml-4">
      <a [routerLink]="['/perfil-page']" class="text-white hover:text-red-600 transition-colors duration-500 text-xl font-bold Beastar">Premium</a>
    </li>
    <li class="ml-4">
      <a [routerLink]="['/botonfoto-page']" class="inline-block rounded bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-[2px] hover:text-white focus:outline-none focus:ring active:text-opacity-75"
        href="/download">
        <span class="block rounded-sm bg-white px-8 py-3 text-sm font-medium hover:bg-transparent">Borrar Cuenta</span>
      </a>
    </li>
  </ul>
  <div>
    <button class="md:hidden block">
      <svg class="fill-current w-4 h-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
      </svg>
    </button>
  </div>
</div>
