<br><br><br>
<div class="FondoI">

  <div class="flex flex-wrap flex-c mx-auto max-w-4xl">
    <div class="w-full md:w-1/2 p-4">
      <div class="group relative  bg-black max-w-screen-lg mx-auto flex justify-center items-center"><img src="https://www-s.mlo.me/upen/v/2021/202112/20211227/202112271806102424689.jpg" class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"/>
        <div class="relative p-4 sm:p-6 lg:p-8 text-center">
          <p class="text-sm font-medium uppercase tracking-widest text-white">Cosplayer-Idol</p>
          <p class="text-xl font-bold text-white sm:text-2xl">Andrea Ángel Guerra</p>
          <div class="mt-32 sm:mt-48 lg:mt-64">
            <div
              class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
              <p class="text-base text-white">Miley Cyrus es mi madre, me encanta su último álbum</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full md:w-1/2 p-4">
      <div class="group relative  bg-black max-w-screen-lg mx-auto flex justify-center items-center"><img src="https://fotografias.flooxernow.com/clipping/cmsimages01/2018/10/01/36FC0F5E-540A-4BE5-9F61-9791DA983703/69.jpg?crop=1280,720,x0,y0&width=1280&height=720&optimize=high&format=webply" class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"/>
        <div class="relative p-4 sm:p-6 lg:p-8 text-center">
          <p class="text-sm font-medium uppercase tracking-widest text-white">Gamer</p>
          <p class="text-xl font-bold text-white sm:text-2xl">Aithor Nado</p>
          <div class="mt-32 sm:mt-48 lg:mt-64">
            <div
              class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
              <p class="text-base text-white">Eminem como referencia y me encantan los pokemons</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full md:w-1/2 p-4">
      <div class="group relative  bg-black max-w-screen-lg mx-auto flex justify-center items-center"><img src="https://esports.as.com/2020/01/07/Willyrex.png?hash=aa6efb4b2031c04d442cbc9ca6391b4790ad0130" class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"/>
        <div class="relative p-4 sm:p-6 lg:p-8 text-center">
          <p class="text-sm font-medium uppercase tracking-widest text-white">Streamer</p>
          <p class="text-xl font-bold text-white sm:text-2xl">Guillermo Díaz Ibáñez</p>
          <div class="mt-32 sm:mt-48 lg:mt-64">
            <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
              <p class="text-base text-white">Para..Paradise! Uoooo</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full md:w-1/2 p-4">
      <div class="group relative  bg-black max-w-screen-lg mx-auto flex justify-center items-center"><img src="https://www.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2022/12/variantes-ibai-traves-inteligencia-artificial-2890644.jpg" class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"/>
        <div class="relative p-4 sm:p-6 lg:p-8 text-center">
          <p class="text-sm font-medium uppercase tracking-widest text-white">Metalero</p>
          <p class="text-xl font-bold text-white sm:text-2xl">Don Ibai</p>
          <div class="mt-32 sm:mt-48 lg:mt-64">
            <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
              <p class="text-base text-white">Si la vida te da limones, dáselos a Ibai</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full md:w-1/2 p-4">
      <div class="group relative  bg-black max-w-screen-lg mx-auto flex justify-center items-center"><img src="https://i.pinimg.com/originals/8e/18/b0/8e18b034a85e7caf67c1a0353ba253e5.jpg" class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"/>
        <div class="relative p-4 sm:p-6 lg:p-8 text-center">
          <p class="text-sm font-medium uppercase tracking-widest text-white">Streamer</p>
          <p class="text-xl font-bold text-white sm:text-2xl">Mila Williams</p>
          <div class="mt-32 sm:mt-48 lg:mt-64">
            <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
              <p class="text-base text-white">El crepúsculo del amor se desvanece en el cielo</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full md:w-1/2 p-4">
      <div class="group relative  bg-black max-w-screen-lg mx-auto flex justify-center items-center"><img src="https://assets.pikiran-rakyat.com/crop/226x133:767x528/x/photo/2021/05/24/1651147160.png" class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"/>
        <div class="relative p-4 sm:p-6 lg:p-8 text-center">
          <p class="text-sm font-medium uppercase tracking-widest text-white">Mecánico</p>
          <p class="text-xl font-bold text-white sm:text-2xl">Ken Ryuguji</p>
          <div class="mt-32 sm:mt-48 lg:mt-64">
            <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
              <p class="text-base text-white">Ven y te reparo esa cara que tienes</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full md:w-1/2 p-4">
      <div class="group relative  bg-black max-w-screen-lg mx-auto flex justify-center items-center"><img src="https://www.fanbolt.com/storage/2022/12/John-Cena-Premiere.webp" class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"/>
        <div class="relative p-4 sm:p-6 lg:p-8 text-center">
          <p class="text-sm font-medium uppercase tracking-widest text-white">Actor</p>
          <p class="text-xl font-bold text-white sm:text-2xl">John Cena</p>
          <div class="mt-32 sm:mt-48 lg:mt-64">
            <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
              <p class="text-base text-white">Binchilin!</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full md:w-1/2 p-4">
      <div class="group relative  bg-black max-w-screen-lg mx-auto flex justify-center items-center"><img src="https://media.revistagq.com/photos/5cb754f08057a56d83ef0e26/16:9/pass/torettest_4714.jpg" class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"/>
        <div class="relative p-4 sm:p-6 lg:p-8 text-center">
          <p class="text-sm font-medium uppercase tracking-widest text-white">Actor</p>
          <p class="text-xl font-bold text-white sm:text-2xl">Vin Diesel</p>
          <div class="mt-32 sm:mt-48 lg:mt-64">
            <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
              <p class="text-base text-white">Aunque no lo parezca soy muy inteligente</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
















